<div class="m-app py-12">
    <!-- .lessons is out of scope within a range iteration.. Store the length
          outside the range block. -->
    {{ $lessonCount := (len .lessonGroup.lessons) }}

    <!-- Lessons -->
    {{ range $idx, $lesson := .lessonGroup.lessons }}
    {{ $flip := (not (modBool $idx 2)) }}
    <div class="lg:flex lg:justify-between {{ if $flip }} lg:flex-row-reverse {{ end }} lg:items-stretch py-10 lg:py-16">


        <!-- Lesson Info -->
        <div class="relative flex-1 lg:max-w-md">

            <!-- Polka Dots -->
            <div class="absolute heading-polka-dots w-24 h-24 mt-4 bg-repeat" style="background-image: url('/img/polka-dots.svg')">
            </div>

            <div class="lg:flex lg:flex-col lg:justify-between lg:h-full">

                <h2 class="relative heading-2 font-extrabold text-gray-700 pl-4 border-l-8 border-orange-500">
                    {{ $lesson.name }}
                </h2>

                <p class="py-8 text-gray-800 leading-relaxed tracking-wider">
                    {{ $lesson.description | markdownify }}
                </p>

                <div class="text-center">
                    <button class="btn btn--s border-2 border-gray-800 text-gray-800 hover:bg-gray-800 hover:text-white">
                        Lees meer
                    </button>
                </div>

            </div>
        </div>

        <!-- Lesson image -->
        <div class="flex-1 lg:max-w-md mt-10 lg:mt-0">
            <div class="h-64 sm:h-96 md:h-112 lg:h-full img-frame border-blue-500" style="background-image: url({{ .image }})"></div>
        </div>

    </div>

    {{ end }}

    <!-- Meet your teacher -->
    <div class="lg:flex lg:justify-between {{ if .flipTeacher }} lg:flex-row-reverse {{ end }} lg:items-stretch mt-4 lg:mt-8 rounded-xl overflow-hidden shadow-xl bg-gray-100">
        <div class="lg:flex-grow lg:w-40 p-6 xs:p-10 lg:p-12">

            <!-- heading -->
            <h2 class="heading-3 font-black text-gray-800">ONTMOET JE DOCENT</h2>
            <h3 class="text-gray-600 tracking-wider">
                {{ .lessonGroup.teacher.name }}
            </h3>

            <hr class="my-8 lg:my-4 border-t-2">

            <!-- Achievements -->
            <div class="lg:py-12">
                {{ range $achievement := .lessonGroup.teacher.achievements }}
                <div class="flex items-center py-1">
                    <div class="inline-block p-2 rounded-full bg-blue-500">
                        <div class="w-4 h-4 bg-contain bg-center" style="background-image: url({{ $achievement.icon }})"></div>
                    </div>

                    <span class="ml-4 text-sm md:text-base text-gray-800">
                        {{ $achievement.description | markdownify }}
                    </span>
                </div>
                {{ end }}
            </div>

        </div>

        <!-- Teacher image -->
        <div class="lg:flex-1">
            <div class="bg-center bg-cover h-96 xs:h-112 lg:h-full" style="background-image: url({{ .lessonGroup.teacher.image }})"></div>
        </div>

    </div>
</div>
