{{ define "main" }}

{{ partial "hero" .Params }}

{{ range $1, $lessonGroep := .Params.lessonGroups }}
  {{ partial "lesson-group" $lessonGroep }}
{{ end }}

<pre class="hidden px-12 py-12 bg-gray-900 text-white w-screen overflow-scroll">
// .Params
{{ .Params | jsonify (dict "prefix" "  " "indent" "  ") }}
    <br/>
// .Site
{{ $.Site | jsonify (dict "prefix" "  " "indent" "  ") }}
    <br/>
// .AllPages[0]
{{ (index $.Site.AllPages 0).Params | jsonify (dict "prefix" "  " "indent" "  ") }}
    <br/>
// .Home
{{ $.Site.Home.Params | jsonify (dict "prefix" "  " "indent" "  ") }}

// Debug
{{ where .Data.Pages "Type" "general" }}
</pre>

{{ end }}
